<div class="container">
  <h1>Welcome to R. Mak's Rails App</h1>
  <p>
    This is the homepage for the
    <a href="#">RoR Development</a>
    sample application.
  </p>
  <button type="button" class="btn btn-primary">Click here to sign up!</button>
</div>
